/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: aliceblue;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error{
    color: rgb(114, 0, 0);
}
.success{
    color: rgb(0, 114, 0);
}
.full-width{
    width: 100%;
}
p{
    font-size: 0.95em;
}

code{
    font-family: consolas;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
codemirror{
    border: rgba(240, 240, 240, 0.1);
}