<div fxLayout="column" fxLayoutGap="10px" style="width: 100%">

    <p>Første step er at konvertere en IFC-fil over til såkaldte <i>triples</i> i <a href="https://www.w3.org/TR/rdf11-primer/">Resource Description Framework (RDF)</a>.</p>
    
    <p>En <i>triple</i> kaldes også en <i>erklæring</i> og består af et <i>subjekt</i>, et <i>prædikat</i> og et <i>objekt</i>. Subjektet er den ting, som erklæringen omhandler. 
        Prædikatet beskriver den relation eller egenskab som skal beskrives for subjektet, og objektet er værdien af relationen/egenskaben.<br>
        Eksempelvis <code>&lt;x&gt; &lt;type&gt; &lt;Rum&gt;</code>, som beskriver at <code>&lt;x&gt;</code> er af typen <code>&lt;Rum&gt;</code>.<br>
        Der kan knyttes flere prædikater til det samme subjekt. For eksempel kan vi med <code>&lt;x&gt; &lt;nummer&gt; "25"</code> beskrive at <code>&lt;x&gt;</code> har nummer 25.<br>
        Efterhånden som vi definerer flere erklæringer får vi et helt netværk af informationer i hvad vi kalder en "knowledge graph"
    </p>

    <p>Der benyttes en forsimplet konvertering af IFC-filen som NIRAS har bygget til formålet. Denne er baseret på <a href="http://ifcopenshell.org/">ifcopenshell</a>, og den udtrækker blot egenskaber på objekterne i projektet.</p>

    <!-- Server status -->
    <div fxFlex>
        <p class="error" *ngIf="serverAvailable === false">Kunne ikke oprette forbindelse til den server som konverterer IFC-filen. Kontakt support!</p>
        <p class="success" *ngIf="serverAvailable === true">Server er tilgængelig</p>
        <p *ngIf="serverAvailable === undefined">Opretter forbindelse til server...</p>
    </div>

    <div fxFlex>
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <span *ngIf="!fileLoadStatus && !fileLoadError">Smid IFC-fil her</span>
                <span *ngIf="!fileLoadStatus && !fileLoadError" (click)="uploadDuplex()" class="clickable">&nbsp;eller <em>brug Duplex-model*</em></span>
                <span *ngIf="fileLoadStatus && !fileLoadError" [innerHTML]="fileLoadStatus"></span>
                <span class="error" *ngIf="fileLoadError">{{fileLoadError}}</span>
                <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
            </ng-template>
        </ngx-file-drop>
    </div>

    <p>*Duplex house er en Coommon BIM-model udgivet af <a href="https://www.nibs.org/page/bsa_commonbimfiles">The National Institute of Building Sciences</a>.
    </p>

</div>