<div fxLayout="column" fxLayoutGap="10px" style="width: 100%">

    <!-- Intro -->
    <h1>Introduktion</h1>
    <p>I step nummer to demonstrerer vi hvordan datamodellen mættes.</p>
    
    <p>Ved mætning forstås at vi har noget maskinlæsbar viden som vi giver computeren sådan at den kan udlede det der "står mellem linjerne". Den udleder altså noget implicit viden ud fra hvad vi eksplicit har fortalt den.</p>

    <h1>Casen</h1>
    <p>Vi har en datamodel der er klassificeret med IFC, men vi ønsker at kunne lave forespørgsler på den med Cuneco Classification System (<a href="https://molio.dk/produkter/digitale-vaerktojer/gratis-vaerktojer/ccs-cuneco-classification-system/">CSS</a>).</p>

    <p>Førend det er muligt, er der behov for en ontologi der beskriver alignments mellem IFC og CCS. Sådan en er endnu ikke offentligt tilgængelig, men med dette eksempel, demonstrerer vi princippet.</p>

    <mat-vertical-stepper linear="true" #stepper>

        <!-- STEP 1 -->
        <mat-step>
            <ng-template matStepLabel>Definer model-triples</ng-template>

            <p>Model-triples er de triples der blev genereret ud fra IFC-filen.</p>
            
            <p>Zip-filen indeholder en fil for hver IFC-klasse i modellen (eksempelvis IfcDoor),
                og hver af disse filer indeholder triples der beskriver de instanser fra modellen, der tilhører denne klasse.</p>

            <p>Kopier indholdet af en af ttl-filerne ind herunder eller benyt sample data som indeholder alle instanser af IfcDoor fra Duplex-modellen.</p>

            <button mat-stroked-button (click)="useSampleModelTriples()">Brug sample data</button>

            <triple-viewer [triples]="modelTriples" (change)="onModelTriplesChange($event.target.value)"></triple-viewer>

        </mat-step>

        <!-- STEP 2 -->
        <mat-step>
            <ng-template matStepLabel>Beskriv terminologi</ng-template>

            <p>I dette afsnit beskriver vi terminologilaget fra tilgængelige ontologier.</p>

            <p>En ontologi er i dette tilfælde en <em>maskinlæsbar beskrivelse af logiske regler</em>, og denne beskrives også i RDF triples ved brug af ontologierne RDF Skemaet (<a href="https://www.w3.org/TR/rdf-schema/">RDFS</a>) og Web Ontology Language (<a href="http://www.w3.org/TR/owl-primer">OWL</a>).</p>
            
            <p>Med <em>RDFS</em> er det muligt at beskrive menneskeligt læsbare labels (rdfs:label) og beskrivelser (rdfs:comment) på forskellige sprog, og det er også muligt eksempelvis at beskrive hierakier af klasser og egenskaber.</p>

            <p>Med <em>OWL</em> er det muligt at beskrive endnu rigere logik såsom at to klasser er ens eller at en egenskab er funktionel (eksempelvis at en person kun kan have én biologisk mor). Sidstnævnte vil ikke melde fejl hvis en person har to mødre, men den vil udlede at de to mødre altså må være samme person. Dette skyldes at OWL bygger på en Open World Assumption.</p>

            <p>Beskriv din egen terminologi, brug en fra nettet eller benyt sample data.</p>

            <button mat-stroked-button (click)="useSampleOntologyTriples()">Brug sample data</button>

            <triple-viewer [triples]="ontologyTriples" (change)="onOntologyTriplesChange($event.target.value)"></triple-viewer>

            <p>Denne service kommunikerer med en simpel <a herf="https://www.npmjs.com/package/hylar">HyLAR</a>-baseret service som kører på en lille virtuel maskine med begrænset kapacitet. 
                Derfor understøttes større filer og kompleks inferens ikke. 
                Benyt i stedet en triplestore som <a herf="http://graphdb.ontotext.com/">GraphDB</a> eller <a herf="https://www.stardog.com/">Stardog</a>.</p>

        </mat-step>

        <!-- STEP 3 -->
        <!-- <mat-step [disableRipple]="!modelTriples || !ontologyTriples"> -->
        <mat-step>
            <ng-template matStepLabel>Nedarvet viden</ng-template>

            <p>Ved mætning af datamodel forstås det at alle de informationer som ikke direkte er angivet i model-triples, men som indirekte er gældende på grund af de inferens-regler beskrevet i ontologien, bliver udledt.</p>

            <p>Simple regler som nedenstående beskrives med terminologi fra RDF Skemaet (<a href="https://www.w3.org/TR/rdf-schema/">RDFS</a>). Eksempelvis:</p>
        
            <ul>
                <li>Eksplicit model-triples: <code>&lt;A&gt; &lt;type&gt; &lt;bil&gt;</code></li>
                <li>Eksplicit ontologi: <code>&lt;bil&gt; &lt;underklasse af&gt; &lt;køretøj&gt;</code></li>
                <li>Afledt viden: <code>&lt;A&gt; &lt;type&gt; &lt;køretøj&gt;</code></li>
            </ul>
        
            <ul>
                <li>Eksplicit model-triples: <code>&lt;A&gt; &lt;lakfarve&gt; "rød"</code></li>
                <li>Eksplicit ontologi: <code>&lt;lakfarve&gt; &lt;underegenskab af&gt; &lt;farve&gt;</code></li>
                <li>Afledt viden: <code>&lt;A&gt; &lt;farve&gt; "rød"</code></li>
            </ul>
        
            <p>Mere komplekse regler som nedenstående beskrives med terminologi fra Web Ontology Language (<a href="http://www.w3.org/TR/owl-primer">OWL</a>). Eksempelvis:</p>
        
            <ul>
                <li>Eksplicit model-triples: <code>&lt;A&gt; &lt;type&gt; "rød"</code></li>
                <li>Eksplicit ontologi: <code>&lt;lakfarve&gt; &lt;underegenskab af&gt; &lt;farve&gt;</code></li>
                <li>Afledt viden: <code>&lt;A&gt; &lt;farve&gt; "rød"</code></li>
            </ul>
        
            <!-- Server status -->
            <div fxFlex>
                <p class="error" *ngIf="serverAvailable === false">Kunne ikke oprette forbindelse til den server som konverterer IFC-filen. Kontakt support!</p>
                <p class="success" *ngIf="serverAvailable === true">Server er tilgængelig</p>
                <p *ngIf="serverAvailable === undefined">Opretter forbindelse til server...</p>
            </div>

            <button mat-stroked-button (click)="saturateGraph()" [disabled]="!serverAvailable || !modelTriples || !ontologyTriples">"Mæt" datamodel</button>

            <p class="error" *ngIf="!modelTriples">Der er ikke angivet en datamodel. Gå til "definer model-triples"!</p>
            <p class="error" *ngIf="!ontologyTriples">Der er ikke angivet nogen terminologi. Gå til "beskriv terminologi"!</p>


            <p *ngIf="error" class="error">{{error | json}}</p>
        
            <div *ngIf="implicitTriples">
                <triple-viewer [triples]="implicitTriples"></triple-viewer>

                <p>Ovenstående er ikke den fuldkomne model, men de ting som en OWL reasoner vil aflede som implicit viden ud fra datamodellen og ontologien der er givet.</p>

                <p>Hvis du bruger sample-datasættet vil du se at alle instanser af <code>ifc:IfcDoor</code> også bliver klassificeret som <code>ccs:QQC</code> og <code>ccs:QQx</code>.
                    Derudover afledes åbenlyse ting som at <code>ccs:QQC</code> er en underklasse af og ens med sig selv, at <code>owl:Nothing</code> er en underklasse af det meste andet og at alting er en <code>owl:Thing</code>.</p>
            </div>

        </mat-step>

    </mat-vertical-stepper>

</div>