
<div fxLayout="row" fxLayoutAlign="center start">
  
    <!-- CONTAINER -->
    <div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">

      <!-- HEADER -->
      <div class="header" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start end">
        <img src="assets/logo-BS-small.svg" height="40px" />
        <img src="assets/logo-molio.png" height="40px" />
        <img src="assets/logo-niras.svg" height="52px" style="padding-bottom: 12px;" />
      </div>
      <div fxFlex="grow" style="background-color: blue;"></div>

      <!-- CONTENT -->
      <mat-card>

        <mat-horizontal-stepper [linear]="isLinear" #stepper>
      
          <!-- STEP 1 -->
          <mat-step>
            <ng-template matStepLabel>Upload IFC-fil</ng-template>
            <app-ifc-to-lbd></app-ifc-to-lbd>
          </mat-step>
      
          <!-- STEP 2 -->
          <mat-step>
            <ng-template matStepLabel>"Mæt" datamodel</ng-template>
            <app-saturate-model></app-saturate-model>
          </mat-step>

          <!-- STEP 3 -->
          <mat-step>
            <ng-template matStepLabel>Valider datamodel</ng-template>
            <app-validate-model></app-validate-model>
          </mat-step>
      
        </mat-horizontal-stepper>
      
      </mat-card>

    </div>

</div>