<div fxLayout="column" fxLayoutGap="10px" style="width: 100%">

    <!-- Intro -->
    <p>Udover at bruges til validering kan SHACL også benyttes til at inferere viden. 
        Det kræver <a href="https://www.w3.org/TR/shacl-af/">SHACL advanced features</a> som er på et eksperimentelt stade og altså ikke en W3C recommendation. 
        Ikke desto mindre er det interessant at kigge på de muligheder det giver for inferens.</p>

    <p>Denne demo kommunikerer med en server som benytter Python-biblioteket <a href="https://github.com/RDFLib/pySHACL">PySHACL</a> til validerings- og inferensprocessen.</p>

    <mat-vertical-stepper linear="true" #stepper>

        <!-- STEP 1 -->
        <mat-step>
            <ng-template matStepLabel>Angiv datamodel</ng-template>

            <button mat-stroked-button class="full-width" (click)="useSampleData()">Brug sample data</button>
            <triple-viewer [triples]="shaclAdvancedData"></triple-viewer>

        </mat-step>

        <!-- STEP 2 -->
        <mat-step>
            <ng-template matStepLabel>Angiv SHACL shapes</ng-template>

            <button mat-stroked-button class="full-width" (click)="useSampleShapes()">Brug sample data</button>
            <triple-viewer [triples]="shaclAdvancedShapes"></triple-viewer>

        </mat-step>

        <!-- STEP 3 -->
        <mat-step>
            <ng-template matStepLabel>Valider</ng-template>

            <!-- Server status -->
            <div fxFlex>
                <p class="error" *ngIf="serverAvailable === false">Kunne ikke oprette forbindelse til den server som udfører SHACL-validering. Kontakt support!</p>
                <p class="success" *ngIf="serverAvailable === true">Server er tilgængelig</p>
                <p *ngIf="serverAvailable === undefined">Opretter forbindelse til server...</p>
            </div>

            <button mat-stroked-button (click)="saturateGraph()" [disabled]="!serverAvailable || !shaclAdvancedData || !shaclAdvancedData">"Mæt" datamodel</button>

            <p class="error" *ngIf="!shaclAdvancedData">Der er ikke angivet en datamodel. Gå til step 2 og angiv en datamodel!</p>

            <ng-container *ngIf="report">

                <p *ngIf="report.conforms">Datamodellen er <span class="success">valid</span> ift. de angivne SHACL shapes</p>
                <p *ngIf="!report.conforms">Datamodellen er <span class="error">ikke valid</span> ift. de angivne SHACL shapes</p>

                <p *ngIf="error" class="error">{{error | json}}</p>

                <ng-container *ngIf="report.implicit">
                    Implicit viden:
                    <triple-viewer [triples]="report.implicit"></triple-viewer>
                </ng-container>

                <ng-container *ngIf="!report.conforms">

                    <p>Resultater:</p>
                    <shacl-results [jsonld]="report.report"></shacl-results>

                </ng-container>
                
            </ng-container>

        </mat-step>

    </mat-vertical-stepper>

</div>